h2{
  text-align: center;
  color: rgb(255, 157, 0);
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}


footer {
  background-color: #000000; /* Dark green color */
  color: rgb(255, 157, 0); /* White text color */
  text-align: center;
  padding: 10px;
  position: bottom;
  bottom: 5px;
  width: 100%;
}

img{
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #000000; /* Dark green color */
  padding: 30px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 20px;
}

a {
  color: rgb(255, 157, 0); /* White text color */
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: #3b3b3b; /* Dark greenish color on hover */
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000; /* Dark green color for dropdown */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure the dropdown appears above other content */
}

li:hover .dropdown-content {
  display: block; /* Show the dropdown content on hover */
}

.dropdown-content a {
  color: rgb(255, 157, 0);
  padding: 20px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00796b;
}
